<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.emp">

    <resultMap type="evo" id="empResult">
        <result property="employee_id" column="employee_id"/>
        <result property="first_name" column="first_name"/>
        <result property="last_name" column="last_name"/>
        <result property="email" column="email"/>
        <result property="phone_number" column="phone_number"/>
        <result property="hire_date" column="hire_date"/>
        <result property="job_id" column="job_id"/>
        <result property="salary" column="salary"/>
        <result property="commission_pct" column="commission_pct"/>
        <result property="manager_id" column="manager_id"/>
        <result property="department_id" column="department_id"/>
    </resultMap>

    <select id="selectAll" resultMap="empResult">
        select *
        from employees
    </select>
    <select id="selectById" resultType="evo" parameterType="int">
        select *
        from employees
        where employee_id = #{employee_id}
    </select>
    <select id="selectByDept" resultType="evo" parameterType="int">
        select *
        from employees
        where department_id = #{department_id}
    </select>
    <select id="selectByJob" resultType="evo" parameterType="String">
        select *
        from employees
        where job_id = #{job_id}
    </select>
    <!--    <select id="selectBySalary" resultType="evo" parameterType="evo">-->
    <!--        select * from employees where salary between #{} and #{}-->
    <!--    </select>-->
    <!--    <select id="selectByDate" resultType="evo" parameterType="String">-->
    <!--        select * from employees " + " where hire_date between #{} and #{}-->
    <!--    </select>-->
    <select id="selectByName" resultType="evo" parameterType="String">
        select *
        from employees
        where first_name like #{first_name}
    </select>
    <select id="selectAllJobs" resultType="com.kosta.model.JobVO">
        select *
        from jobs
        order by 1
    </select>


    <insert id="insert" parameterType="dvo">
        insert into employees
        values (#{employee_id}, #{first_name}, #{last_name}, #{email}, #{phone_number}, #{hire_date}, #{job_id},
                #{salary}, #{commission_pct}, #{manager_id}, #{department_id})
    </insert>
    <update id="update" parameterType="com.kosta.model.EmpVO">
        update employees
        set FIRST_NAME=#{first_name},
            LAST_NAME=#{last_name},
            EMAIL =#{email},
            PHONE_NUMBER=#{phone_number},
            HIRE_DATE=#{hire_date},
            JOB_ID=#{job_id},
            SALARY=#{salary},
            COMMISSION_PCT=#{commission_pct},
            MANAGER_ID=#{manager_id},
            DEPARTMENT_ID=#{department_id}
        where EMPLOYEE_ID = #{employee_id}
    </update>
    <delete id="delete" parameterType="int">
        delete
        from employees
        where EMPLOYEE_ID = #{employee_id}
    </delete>

</mapper>